* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* make all images fit to their container */
img {
  display: block;
  width: 100%;
}

header {
  background-color: rgba(247, 247, 247);
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 900;
}

.text {
  background-color: rgb(81, 212, 81);
  text-align: center;
}

.text p {
  padding: 5px 0;
}

.white {
  color: rgba(247, 247, 247);
}

.contact_icon {
  background-color: #42db87;
  color: #fff;
  width: 60px;
  height: 60px;
  font-size: 30px;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(0px);
  animation: pulse 1.5 infinite;
  box-shadow: 0 0 0 0 #42db87;
  -webkit-animation: pulsing 1.25s infinite cubic-bezier (0.66, 0, 0, 1);
  -moz-animation: pulsing 1.25s infinite cubic-bezier (0.66, 0, 0, 1);
  -ms-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulsing 1.25s infinite cubic-bezier (0.66, 0, 0, 1);
  font-weight: normal;
  font-family: sans-serif;
  text-decoration: none limportant;
  transition: all 300ms ease-in-out;
}

.floating_btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.floating_btn a {
  text-decoration: none;
  color: #fff;
}

.services {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0 40px;
  margin-top: 40px;
  padding: 20px 0;
  text-align: center;
}

.services .container {
  background-color: rgb(211, 231, 247);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 20px;
}

.services .row {
  display: flex;
  flex-direction: column-reverse;
}

.services .col {
  margin: 10px 0;
}

.services p {
  margin: 10px 0;
}

.services h3 {
  text-decoration: underline;
}

.services img {
  border-radius: 10px;
}

.btn1 {
  background-color: rgb(81, 212, 81);
  color: black;
  border-radius: 5px;

  padding: 10px;
  text-decoration: none;
}

.pd {
  padding: 20px 50px;
}

.pd h3 {
  text-align: center;
}

.title {
  text-align: center;
  padding-top: 30px;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 40px;
}

.products-container {
  padding: 40px 40px;
}

.products-container img {
  size: 70%;
}

.products-container .product {
  text-align: center;
  padding: 50px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.2);
  outline: 0.1rem solid #ccc;
  outline-offset: -1.5rem;
  cursor: pointer;
}

.disappear {
  display: none;
}

footer .social-media {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.contact .container {
  width: 90%;
  max-width: 800px;
  margin: 0px auto;
  padding: 20px;
  background-color: rgb(211, 231, 247);
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.contact h3 {
  text-decoration: underline;
  text-align: center;
  margin-bottom: 10px;
}

.contact .fas {
  margin-right: 10px;
}

.contact a {
  color: black;
  text-decoration: none;
}

.contact iframe {
  width: 100%;
  height: 400px;
  align-items: center;
}
.map {
  margin-top: 30px;
}

.about {
  padding: 10px 20px;
}

.about h3 {
  text-align: center;
  padding: 20px 0;
}

.more {
  margin: 20px 0;
}
/* media queries for small screens, laptop */
@media screen and (min-width: 990px) {
  img {
    display: block;
    width: 100%;
  }

  .navbar img {
    height: 120px;
  }

  .services .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-items: center;
    border-radius: 20px;
    margin: 0px 40px;
    padding: 0px 20px;
    text-align: center;
  }

  .products .row {
    display: flex;
  }

  .map .left {
    margin-top: 30px;
  }

  .about {
    padding: 10px 60px;
  }
}
